---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/Postcard.astro";

const posts = [
  {
    title: "Meow",
    excerpt: "Meow meow meow meow",
    slug: "my-first-post",
    date: "March 2, 2025",
  },
  {
    title: "OP's birthday!",
    excerpt: "Anny's birthday.",
    slug: "annys-birthday",
    date: "2025-03-6",
  },
];
---

<BaseLayout title="Home">
  <section>
    {posts.map((post) => <PostCard {...post} />)}
  </section>
</BaseLayout>
